<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新冠肺炎（COVID-19）web</title>
    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../index.html">新冠肺炎（COVID-19）web</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="../index.html">首页</a></li>
                    <li><a href="preventCovid.html">预防新冠肺炎</a></li>
                    <li><a href="detailsCovid.htm">新冠肺炎详情</a></li>
                    <li class="active"><a href="#">关于我们</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">备忘录<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../notepad/notepad.php">备忘录</a></li>
                            <li><a href="../notepad/login.html">登录</a></li>
                            <li><a href="../notepad/register.php">注册</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.navbar-collapse -->
        </div>
    </nav>
    <!-- 设置全局背景图片 -->
    <div class="bg-about">
        <section class="bg-ab-one">
            <div class="container">
                <div class="row row-flex">
                    <div class="col-md-6">
                        <img class="img-responsive" src="../img/content20.jpg" width="100%">
                    </div>
                    <div class="col-md-6">
                        <h2>新冠肺炎，带给我们的启示</h2>
                        <p>蔓延全国的肺炎疫情，前所未有的防控力度，足不出户的生活方式，给了我们一个静下来思考的机会。
                        </p>
                        <p>一、要学会珍惜和感恩。 看到网上有的父母感染被隔离，小孩子被陌生人照顾，那么幼小而无助，哭的那么撕心裂肺；小情侣近在咫尺而又仿佛远在天涯，只能隔着玻璃和口罩亲吻；听说有爷爷去看孙子，却被拒之门外：不是不爱，是因为爱，所以远离！
                        </p>
                        <p>二、注意调理，防病于未然。 既少受病苦，又不给别人增加负担，不浪费社会资源，同时还能为家庭社会多做贡献。这比得了重病之后，再去治疗，去手术，好的太多了，预防重于治疗的理念值得大家重视并在日常生活中坚持。</p>
                        <p>三、禁贪禁躁，保护自己。这次疫情的起源就是人类为了口腹之欲，而食用野生动物，从而把病毒传染给人类，人类正在为自己的贪婪和无知付出代价。不管别人如何躁动不安，如何放纵自我，你也要好好地保护自己。</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-ab-two">
            <div class="container">
                <div class="row row-flex">
                    <div class="col-md-6">
                        <h2>纪念和宣传防疫</h2>
                        <p>这次的疫情影响很大，新冠肺炎疫情给中国及全球经济运行都带来较大冲击。疫情的传染性越强，人的活动半径受到的冲击就越大，与之相关的行业承受的压力也越大。从经济学的角度，经济是由消费、投资、出口三架马车构成的，这次疫情显然直接冲击着与人和消费相关的行业.</p>
                        <p>“在过去的几周中，我们目睹了一种以前未知的病毒的出现，该病毒已升级为史无前例的疫情爆发，并已得到史无前例的应对。”</p>
                        <p><strong>——世卫组织总干事谭德赛</strong>（Tedros Adhanom Ghebreyesus）</p>
                        <p>疫情就是命令！防控就是责任！这次的疫情宣传口号相当有力，我们不是第一次防控类似全球性传染的病毒了，非典过后就是COVID-19。</p>
                        <p>新冠肺炎虽然传播快，范围广，但我们的抗疫战争打的也很好。从2019年的12月到2020年3月就基本实现了疫情有效防控，各地物流也开始恢复运转，虽然COVID-19来的突然，还在春节发动“突袭”，但毫无疑问的是最后还是我们赢了！</p>
                    </div>
                    <div class="col-md-6">
                        <img class="img-responsive" src="../img/content27.jpg" width="100%">
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-ab-one">
            <div class="container">
                <div class="row">
                    <div class="row row-flex">
                        <div class="col-md-6">
                            <img class="img-responsive" src="../img/content30.jpg" width="100%">
                        </div>
                        <div class="col-md-6">
                            <h2>一次全国人民参与的 “考试”</h2>
                            <p>这次的全国统一 “考试” 来的很突然。不管你年龄几何，是否有所准备，新冠肺炎（COVID-19）都把我们关在家里“考试”。</p>
                            <p>“考试” 的第一道题就是我们的健康。身体健康才最重要，在生死面前，其他都是小事，身体健康才是你珍贵的本钱。一个人即使拥有再多的金钱，再高的地位，若身体垮了，你所拥有的一切都等于零。
                            </p>
                            <p>第二道题是应急的钱不能少。因为疫情迟迟没复工，对收入自然有影响，所以很多人在家因兜里没额外存款而焦头烂额：房东催交租，房贷车贷都要还，信用卡、花呗也到期····“月光族”这道题重点考！</p>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p>常说，没有钱是万万不能的。是啊，只有吃过一次没钱应急的苦，才能明白，手里有应急的钱带给你的安全感有多大！“月光族”每每将所得即得即光，在平时勉强度日，那么在这次的全国统一“考试”中遇到的坎坷也可想而知。疫情结束之后，一定要努力赚钱，多存点应急钱，这样你才能有底气面对急需用钱的情况！</p>
                        <p>第三道题是来日不方长，学会珍惜。不要总觉得来日方长，其实世事无常，这次的疫情，让很多人开始学会了珍惜，开始把之前说了许久要做的事提上了日程。有些事，不要一等再等，想到要去做就赶紧行动吧，因为你永远不知道，明天和意外，哪个先来。别到了最后，那件事、那个人，成为了你人生的遗憾。</p>
                        <p>最后一道题是敬畏生命，敬畏自然。人只是自然的一部分，而不能凌驾于自然之上。世间万物，千丝万缕，谁也无法独立于世。因果有循环，你若善良，敬畏生命，种下善因，最终也会收获善果。</p>
                    </div>
                </div>
                <hr>
                <footer>
                    <p>Copyright &copy; 2020 Rain Lin. All Right Reserved <span class="foot-sp">Email：239996423@qq.com</span></p>
                </footer>
            </div>
        </section>
    </div>



    <!-- Bootstrap core JavaScript
      ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../bootstrap/js/jquery-3.4.1.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
</body>

</html>