<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新冠肺炎（COVID-19）web</title>
    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>

<body>
    <div class="bg-index">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../index.html">新冠肺炎（COVID-19）web</a>
                </div>
                <!--/.navbar-collapse -->
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="active"><a href="../index.html">首页</a></li>
                        <li><a href="preventCovid.html">预防新冠肺炎</a></li>
                        <li><a href="detailsCovid.htm">新冠肺炎详情</a></li>
                        <li><a href="about.html">关于我们</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">备忘录<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="../notepad/notepad.php">备忘录</a></li>
                                <li><a href="../notepad/login.html">登录</a></li>
                                <li><a href="../notepad/register.php">注册</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <section class="bg-ab-one">
            <div class="container">
                <div class="row row-flex">
                    <div class="col-md-7">
                        <h2>武汉加油募捐</h2>
                        <h4>2020年新型冠状病毒疫情捐助（优先捐往武汉的单位）</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th>捐助单位</th>
                                    <th>接收单位</th>
                                    <th>金额 / 物资</th>
                                </tr>
                                <tr>
                                    <td>腾讯公益慈善基金</td>
                                    <td>武汉、战疫基金</td>
                                    <td>15亿元</td>
                                </tr>
                                <tr>
                                    <td>阿里巴巴</td>
                                    <td>武汉</td>
                                    <td>10亿元医疗物资</td>
                                </tr>
                                <tr>
                                    <td>恒大集团</td>
                                    <td>武汉市新型肺炎防控指挥部</td>
                                    <td>2亿元</td>
                                </tr>
                                <tr>
                                    <td>招商银行</td>
                                    <td>武汉市慈善总会</td>
                                    <td>2亿元</td>
                                </tr>
                                <tr>
                                    <td>辽宁方大集团</td>
                                    <td>湖北省和武汉市</td>
                                    <td>2亿元</td>
                                </tr>
                                <tr>
                                    <td>百雀羚</td>
                                    <td>武汉及周边医院和机构</td>
                                    <td>2亿元物资</td>
                                </tr>
                                <tr>
                                    <td>辛有志</td>
                                    <td>武汉</td>
                                    <td>1亿元、5千万元物资</td>
                                </tr>
                                <tr>
                                    <td>中国三峡集团</td>
                                    <td>武汉</td>
                                    <td>1.3亿元</td>
                                </tr>
                                <tr>
                                    <td>融创集团</td>
                                    <td>武汉市慈善总会</td>
                                    <td>1.1亿元</td>
                                </tr>
                                <tr>
                                    <td>恒力集团</td>
                                    <td>武汉市慈善总会</td>
                                    <td>1亿元</td>
                                </tr>
                                <tr>
                                    <td>李嘉诚基金会</td>
                                    <td>武汉防疫抗疫</td>
                                    <td>1亿元港币</td>
                                </tr>
                            </table>
                        </div>
                        <p class="p-btn"><strong>新型肺炎疫情牵动全国人心，大家守望相助、众志成城、共克时艰，一起驰援武汉。</strong></p>
                    </div>
                    <div class="col-md-5">
                        <img src="../img/content19.jpeg" class="img-responsive" alt="dor" width="100%">
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-ab-two">
            <div class="container">
                <div class="row row-flex">
                    <div class="col-md-6">
                        <img src="../img/content9.jpg" class="img-responsive" alt="dor" width="100%">
                    </div>
                    <div class="col-md-6">
                        <h2>武汉加油，有困难我们一起扛</h2>
                        <p>防控疫情蔓延，再出实招。据报道，武汉市新型冠状病毒感染的肺炎疫情防控指挥部发布通告，今日10时起，武汉全市公交地铁等暂停运营，机场火车站离汉通道关闭。 </p>
                        <p>武汉疫情的防控关系整个防控全局，而当前疫情传播还没有阻断，非常之时，需要非常之举，采取这样的措施可以说是别无选择，也是非常必要的。</p>
                        <p>可以想象，新春佳节将至，采取这样的措施必然会对武汉市民的生活带来很大影响，人同此心，全国人民都在惦记着武汉市民，大家纷纷在朋友圈发出“武汉加油”的帖文，表达了我们共同的心声。为防控疫情扩散，武汉市民付出巨大努力，也承受极大压力，我们应该表达最大敬意。</p>
                        <p>为防控疫情、切断病毒传播。1月23日10时起，武汉公交、地铁等暂停运营，机场、火车站离汉通道暂时关闭。感谢武汉人民的巨大付出，你们不容易！</p>
                        <p>感谢奋战在疫区一线的医务人员，人民警察，防疫人员，人民子弟兵，夜以继日工作的火神山医院工程建设者，放弃休假连续加班的口罩厂员工！ 我们在过年，这群人在帮我们过关。隔离病毒，绝不是隔离爱。14亿人万众一心、众志成城，就没有我们过不去的坎！武汉加油！中国加油！</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-ab-one">
            <div class="container">
                <div class="row row-flex">
                    <div class="col-md-7">
                        <h2>人民日报：武汉加油</h2>
                        <p>疫情是共同的敌人。在凶险的疫情面前，我们是命运共同体，当下武汉最需要的是全国人民的支援，特别是医疗力量和物资的支援。对于武汉人民来说，这是艰难的时刻，也是最焦虑的时刻。在这个节骨眼上，我们有责任与武汉人民站在一起，共克时艰，共渡难关。</p>
                        <p>战胜疫情需要集结全国人民的力量，需要强有力的国际合作。我们看到，无论国家层面还是地方层面都在积极求解，从做好药品、消毒、器械等防控物资的储备供应，到加强预警监测，严格疫情报告制度；从优化临床诊疗方案，尽最大努力救治患者，到做好医疗资源配置；减少不必要的出行，特别是若无特殊需要暂时不要再前往武汉；每个人做好自身的防护措施。武汉所需就是我们应该努力的方向，让每一项举措都有力有效。</p>
                        <b>发布时间：01-24 13:57</b>
                        <p><b>来源：人民日报社</b></p>
                    </div>
                    <div class="col-md-5">
                        <img src="../img/content10.jpg" class="img-responsive " alt="dor" width="100%">
                    </div>
                </div>
                <hr>
                <footer>
                    <p>Copyright &copy; 2020 Rain Lin. All Right Reserved <span class="foot-sp">Email：239996423@qq.com</span></p>
                </footer>
            </div>
    </div>
    </section>
    </div>


    <!-- Bootstrap core JavaScript
      ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../bootstrap/js/jquery-3.4.1.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
</body>

</html>