<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新冠肺炎（COVID-19）web</title>
    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>

<body>
    <div class="bg-index">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../index.html">新冠肺炎（COVID-19）web</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="active"><a href="../index.html">首页</a></li>
                        <li><a href="preventCovid.html">预防新冠肺炎</a></li>
                        <li><a href="detailsCovid.htm">新冠肺炎详情</a></li>
                        <li><a href="about.html">关于我们</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">备忘录<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="../notepad/notepad.php">备忘录</a></li>
                                <li><a href="../notepad/login.html">登录</a></li>
                                <li><a href="../notepad/register.php">注册</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--/.navbar-collapse -->
            </div>
        </nav>
        <section class="bg-ab-one">
            <div class="container">
                <div class="row row-flex">
                    <div class="col-md-7">
                        <h2>抗“疫”一线</h2>
                        <h4>疫情医生：这不是一个人的殊死抗战，而是一群人的休戚与共</h4>
                        <p>上面这句话是《鼠疫》封面上的一句话。书里有句名言：要了解一座城市，简便的办法就是探索居民如何劳动，如何爱并如何死亡。 </p>
                        <p>疫情蔓延之际，关于武汉的一切，像极了《鼠疫》里的描述：善与恶，美与丑，诚实与谎言，恐慌与冷静，崩溃与理智，绝望与失望，统统都像照在镜子里一样，印在了每个人的心里。有人责问武汉的领导，有人怒斥哄抬物价的奸商，有人指责逃离的旅客，有人责备不戴口罩的老人。有人感动医务人员的付出，有人面临大灾逆行而上，有人募捐，有人倾囊相助。但是，大多数的人，都在积极地响应着政府的决策，以自己的方式默默地为疫情的控制做着努力。</p>


                        <p><b>“医生抗战一线，社会温暖不停。”</b>疫情严重，但来自群众的温暖却没有停歇，对于受到爱心鸡蛋的捐赠的昆明医科大学第一附属医院的医生们来说，“蔬菜、牛奶、水果，包括今天受到捐助的鸡蛋在内，这些货物的到来确实让我们的医生无比的暖心。” </p>
                        <p>连日来，全力抗击新型冠状病毒的前线医生们基本处于全天无休的状态，生活上补给确实无法顾及，这些货物给医生带来了生活上的补给。医院将及时把爱心物品分发到医生手中，让他们感受来自群众的每一份温暖。</p>
                        <p>疫情面前，作为新型冠状病毒防控工作的积极支持者，云南省妇女儿童发展基金会充分发挥社会爱心团体的力量，搭建起爱心桥梁，把更多的社会温情和关怀带给了抗战前线的“英雄”。</p>
                        <p>没有一个冬天不可逾越，没有一个春天不会来临。</p>
                        <p>没有人天生发光，是坚守、是责任让人发光。</p>
                        <p>
                            <b>要了解一座城市，简便的办法就是探索居民如何劳动，如何爱并如何死亡…… </b>
                        </p>
                        <p><b>这不是一个人的殊死抗战，而是一群人的休戚与共。你所需要的，不是逃离，而是直面它的勇气。——法国阿尔贝.加缪。</b></p>
                    </div>
                    <div class="col-md-5">
                        <img src="../img/content13.jpg" class="img-responsive" alt="dor" width="100%">
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-ab-two">
            <div class="container">
                <div class="row row-flex">
                    <div class="col-md-6">
                        <img src="../img/content20.jpg" class="img-responsive" alt="dor" width="100%">
                    </div>
                    <div class="col-md-6">
                        <h2>致敬逆行者</h2>
                        <p><b>2020年春节前，一场突发的病疫冲散了中国年的喜庆。举国上下众志成城，齐心协力抗击疫情。</b></p>
                        <p>这是一场战斗，人类和病菌的战斗。每一场战役都需要带头冲锋的人。十七年前，一位名叫钟南山的院士领军抗击非典，打赢了一场没有硝烟的战役；十七年后，已是耄耋老人的院士，再一次亲赴武汉，扛起抗衡新冠状病毒疫情的重担。</p>
                        <p>在这场看不见硝烟的战争中，我们不知道又多少人默默无闻的站起然后倒下，也不知有多少人怀着新生感恩四周。面对这场疫情，我们能做好的就是不添乱，自觉隔离，记住每个感动的时刻，把祈祷送给医治者与被医治者；把崇敬致向疫情逆行者；把敬畏呈给大自然；把反省留给自己。</p>

                    </div>
                </div>
            </div>
        </section>
        <section class="bg-ab-one">
            <div class="container">
                <div class="row row-flex">
                    <div class="col-md-7">
                        <h2>新冠肺炎科普小知识 01</h2>
                        <h4>Part 1 感染</h4>
                        <p>这次新型冠状病毒的受体和 SARS 一样，都是血管紧张素转化酶 2（ACE2）。这意味着病毒要感染人类，首先得接触到有这种酶的细胞，完成受体结合。而我们恰好有不少这种细胞就暴露在空气中——黏膜。黏膜的意义在于分泌黏液，保持湿润。</p>
                        <p>我们的嘴唇、眼皮、鼻腔和口腔里都有大量的黏膜细胞，当病毒以某种方式接触到你的口腔黏膜，与受体结合，感染就开始了。蛋白外壳和 RNA 会组合生成新的冠状病毒颗粒，通过高尔基体分泌至细胞外，感染新的细胞。每个被感染的细胞会产生成千上万个新病毒颗粒，蔓延到气管、支气管，最终到达肺泡，引发肺炎。</p>

                    </div>
                    <div class="col-md-5">
                        <img src="../img/content21.jpg" class="img-responsive " alt="dor" width="100%">
                    </div>
                </div>

                <hr>

                <footer>
                    <p>Copyright &copy; 2020 Rain Lin. All Right Reserved <span class="foot-sp">Email：239996423@qq.com</span></p>
                </footer>
            </div>
        </section>

    </div>


    <!-- Bootstrap core JavaScript
      ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../bootstrap/js/jquery-3.4.1.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
</body>

</html>