<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新冠肺炎（COVID-19）web</title>
    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>

<body>
    <div class="bg-index">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../index.html">新冠肺炎（COVID-19）web</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="active"><a href="../index.html">首页</a></li>
                        <li><a href="preventCovid.html">预防新冠肺炎</a></li>
                        <li><a href="detailsCovid.htm">新冠肺炎详情</a></li>
                        <li><a href="about.html">关于我们</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">备忘录<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="../notepad/notepad.php">备忘录</a></li>
                                <li><a href="../notepad/login.html">登录</a></li>
                                <li><a href="../notepad/register.php">注册</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--/.navbar-collapse -->
            </div>
        </nav>
        <section class="bg-ab-one">
            <div class="container">
                <!-- Example row of columns -->
                <div class="row row-flex">

                    <div class="col-md-5">
                        <h2>COVID-19 确定命名</h2>
                        <p> 新型冠状病毒肺炎（Corona Virus Disease 2019，COVID-19），简称“新冠肺炎”，是指2019新型冠状病毒感染导致的肺炎。2019年12月以来，湖北省武汉市部分医院陆续发现了多例有华南海鲜市场暴露史的不明原因肺炎病例，现已证实为2019新型冠状病毒感染引起的急性呼吸道传染病。</p>
                        <p> 2020年2月11日，世界卫生组织总干事谭德塞在瑞士日内瓦宣布，将新型冠状病毒感染的肺炎命名为“COVID-19” [5] 。2020年2月21日，国家卫生健康委发布了关于修订新型冠状病毒肺炎英文命名事宜的通知，决定将“新型冠状病毒肺炎”英文名称修订为“COVID-19”，与世界卫生组织命名保持一致，中文名称保持不变。</p>
                        <p>当地时间2020年3月11日，世界卫生组织总干事谭德塞宣布，根据评估，世卫组织认为当前新冠肺炎疫情可被称为全球大流行（pandemic）。</p>
                    </div>
                    <div class="col-md-7">
                        <img src="../img/content7.png" class="img-responsive" alt="dor" width="100%">
                    </div>
                </div>

            </div>
        </section>
        <section class="bg-ab-two">
            <div class="container">
                <div class="row row-flex">

                    <div class="col-md-6">
                        <img src="../img/content6.png" class="img-responsive" alt="dor" width="100%">
                    </div>
                    <div class="col-md-6">
                        <h2>COVID-19 病毒来自野生动物</h2>
                        <p>2019年12月31日上午，国家卫健委专家组抵达武汉，展开相关检测核实工作。调查发现，该次肺炎病例大部分为华南海鲜城经营户。</p>
                        <p>1月5日晚，武汉市卫健委通报，流行病学调查显示，部分患者为武汉市华南海鲜城（华南海鲜批发市场）经营户。初步调查表明，未发现明确的人传人证据，未发现医务人员感染。已排除流感、禽流感、腺病毒、传染性非典型肺炎（SARS）和中东呼吸综合征（MERS）等呼吸道病原。病原鉴定和病因溯源工作仍在进一步进行中。</p>
                        <p> 对于湖北武汉不明原因病毒性肺炎疫情病原学的鉴定，截至1月7日21时有了新消息：实验室检出一种新型冠状病毒，获得该病毒的全基因组序列，经核酸检测方法共检出新型冠状病毒阳性结果15例，从1例阳性病人样本中分离出该病毒，电镜下呈现典型的冠状病毒形态。专家组认为，本次不明原因的病毒性肺炎病例的病原体初步判定为新型冠状病毒。</p>
                        <p>在1月25号的《新闻1+1》节目中，国家卫健委专家高福表示，中国疾病预防控制中心在新型冠状病毒感染的肺炎疫情发生之后，很快就找到了源头，病毒不光在感染的人体内看到了，在华南海鲜市场非法销售野生动物的这些摊位也分离到了病毒，应该说是证据确凿!近年来，国内各地的非法野生动物交易链条并未被完全切断。</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-ab-one">
            <div class="container">
                <div class="row row-flex">
                    <div class="col-md-7">
                        <h2>预防新冠肺炎小知识 02</h2>
                        <h4>返程提醒，出发前你需要做好这些准备：</h4>
                        <p>3. 返程前， 请备好若干塑料垃圾袋或保鲜袋。可以在行程中封装污染物， 比如戴过的口罩等。</p>
                        <p>4. 不用带清凉油、香油、维生素C 和板蓝根，它们都不能预防新型冠状病毒。能有效消杀新型冠状病毒的物质是： 乙醚、75% 乙醇、含氯消毒剂、过氧乙酸和氯仿等脂溶剂。然而，清凉油和香油中并没有这些物质，服用维生素C 或板蓝根现有研究证据不足，未能表明能预防新型冠状病毒。</p>
                        <p>5. 良好安全饮食习惯，处理生食和熟食的切菜板及刀具要分开，做饭时彻底煮熟肉类和蛋类。尽量避免在未加防护的情况下接触野生或养殖动物。</p>
                    </div>
                    <div class="col-md-5">
                        <img src="../img/content2.jpg" class="img-responsive " alt="dor" width="100%">
                    </div>

                </div>
                <hr>
                <footer>
                    <p>Copyright &copy; 2020 Rain Lin. All Right Reserved <span class="foot-sp">Email：239996423@qq.com</span></p>
                </footer>
            </div>
        </section>


    </div>

    <!-- /container -->


    <!-- Bootstrap core JavaScript
      ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../bootstrap/js/jquery-3.4.1.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
</body>

</html>