<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新冠肺炎（COVID-19）web</title>
    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../index.html">新冠肺炎（COVID-19）web</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="../index.html">首页</a></li>
                    <li class="active"><a href="#">预防新冠肺炎</a></li>
                    <li><a href="detailsCovid.htm">新冠肺炎详情</a></li>
                    <li><a href="about.html">关于我们</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">备忘录<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../notepad/notepad.php">备忘录</a></li>
                            <li><a href="../notepad/login.html">登录</a></li>
                            <li><a href="../notepad/register.php">注册</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.navbar-collapse -->
        </div>
    </nav>
    <div class="bg-index">
        <section class="bg-ab-one">
            <div class="container">
                <!-- Example row of columns -->
                <div class="row row-flex">

                    <div class="col-md-7">
                        <h2>新冠肺炎的特征</h2>
                        <b>(一)传染源 </b>
                        <p>目前所见传染源主要是新型冠状病毒感染的患者。无症状感染者也可能成为传染源。蝙蝠有可能是新冠病毒的宿主，穿山甲可能是新冠病毒的中间宿主之一。</p>
                        <b>(二)传播途径</b>
                        <p>经呼吸道飞沫和密切接触传播是主要的传播途径，在相对封闭的环境中长时间暴露于高浓度气溶胶情况下存在经气溶胶传播的可能。</p>
                        <b>(三)易感人群</b>
                        <p>新冠病毒是一种新的病原体，因此，各年龄段人群均对新型冠状病毒没有免疫力，普遍容易感染，但年龄30岁以上的人群容易感染和病逝。患者平均年龄51岁，30-69岁患者占77.8%，77.5%的病例来自湖北。</p>
                        <p>对我国确诊新型冠状病毒肺炎病例进行流行病学特征描述和探索性分析，发现大多数为轻症或一般肺炎病例，总体粗病死率低。在死亡病例中，最大多数为60岁及以上患者，且患有基础性疾病，如高血压、心血管疾病和糖尿病等。</p>
                        <p>对流行曲线进行分析提示，我国新冠肺炎疫情呈现混合暴发流行模式，2019年12月发病的病例，可能为同源连续性暴露传播模式；</p>
                        <p>2020年1月，可能是扩散传播模式。这种混合暴发流行的时间趋势与先前调查结论一致，即武汉华南海鲜市场可能有野生动物交易，使得新型冠状病毒从一种仍然未知的野生动物传染到人类，并且由于它的高突变率和重组率，其适应性增强，继而实现在人与人之间的传播</p>
                        <p>新型冠状病毒感染的肺炎患者的临床表现为：以发热、乏力、干咳为主要表现，鼻塞、流涕等上呼吸道症状少见，会出现缺氧低氧状态。约半数患者多在一周后出现呼吸困难，严重者快速进展为急性呼吸窘迫综合征、脓毒症休克、难以纠正的代谢性酸中毒和出凝血功能障碍。值得注意的是，重症、危重症患者病程中可为中低热，甚至无明显发热。部分患者起病症状轻微，可无发热，多在1周后恢复。多数患者预后良好，少数患者病情危重，甚至死亡。 </p>
                    </div>
                    <div class="col-md-5">
                        <img src="../img/content18.jpg" class="img-responsive" alt="dor" width="100%">
                    </div>
                </div>
        </section>
        <section class="bg-ab-two">
            <div class="container">
                <div class="row row-flex">

                    <div class="col-md-6">
                        <img src="../img/content23.jpg" class="img-responsive" alt="dor" width="100%">
                        <img src="../img/content24.jpg" class="img-responsive" alt="dor" width="100%">
                    </div>
                    <div class="col-md-6">
                        <h2>预防 COVID-19 要点</h2>
                        <b>居家预防 COVID-19 要点</b>
                        <p>一、勤开窗，多通风。 每天3次，每次不低于15分钟，保证空气流通清洁。以个人居家锻炼为主，做一些适合室内的身体活动。</p>
                        <p>二、保持卫生。 保持家居表面清洁，必要时可以用酒精或含氯消毒剂等擦拭消毒。外出归来、饭前便后、咳嗽打喷嚏后，都应及时洗手。外衣需用消毒液浸泡或煮沸洗。家人咳嗽、打喷嚏时要用纸巾掩住口鼻，用过的纸巾及时处理，其他家庭成员避免接触。</p>
                        <p>三、合理膳食。 多吃新鲜蔬菜和水果，补充维生素与膳食纤维。戒烟限酒，适量多饮水，每天不少于1500毫升，多喝白开水。</p>

                        <b>复工预防 COVID-19 要点</b>
                        <p>一、单位不开收心大会，职工不扎堆交流，不要举办聚餐、舞会、娱乐活动。不互相拜视，遇见朋友、同事不握手，不借用手机打电话，上班首选步行、骑单车和自驾车，乘坐地铁、公共汽车、单位班车等密闭交通工具时一定要佩戴好口罩，松散就座，乘客拥挤时等候下一趟交通工具</p>
                        <p>二、保持办公、工作场所清洁，上下班前后使用酒精等消毒剂（适宜消毒剂）喷洒或擦拭电梯、扶手、门把手等经常接触的公共设施。交谈时不要相互靠得太近，咳嗽、打喷嚏要用纸巾或肘部捂住口鼻，不随地吐痰，不乱扔垃圾。</p>
                        <p>三、坚持饭前、便后、从公共场所回来后的洗手习惯，坚持回家就脱下外套和鞋，外套挂在庭院或阳台净化，皮鞋、皮手套先用酒精喷雾消毒后擦保护油</p>
                        <p>四、打饭排队需保持间隔1米，避免就餐谈话，避免聚集就餐。在坐下后再摘下口罩就餐，尽快就餐，避免接触他人餐盘和就餐废弃物。</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-ab-one">
            <div class="container">
                <div class="row row-flex">
                    <div class="col-md-7">
                        <h2>新冠肺炎科普小知识 02</h2>
                        <h4>Part 2 传播</h4>
                        <p>目前研究证实新冠病毒属于SARS相关冠状病毒，与SARS病毒平行的，通过呼吸飞沫传播，密切接触传染，在高浓度气溶胶密闭环境中长时间传播。</p>
                        <p>新冠病毒主要通过飞沫传播和接触传播等方式传染，人群普遍易感。预防新型冠状病毒性肺炎，目前只能通过切断传播途径方式预防感染。所以目前疫情期间，广大居民需要做到尽量不出门，少出门，出门必须戴口罩。还需要做到勤洗手，勤开窗通风，保持室内空气新鲜。</p>
                        <p>只要你感染了新冠病毒，就算你没有表现出明显的症状，都有可能将病毒扩散给其他人。所以，如果你曾接触过感染者，或曾在密闭空间同处过（车厢、电影院、飞机...），请先做好自我隔离14天观察。更要警惕新冠肺炎变成季节性传染病，在秋冬季再度来袭的可能。</p>

                    </div>
                    <div class="col-md-5">
                        <img src="../img/content22.jpeg" class="img-responsive" alt="dor" width="100%">
                    </div>
                </div>

                <hr>

                <footer>
                    <p>Copyright &copy; 2020 Rain Lin. All Right Reserved <span class="foot-sp">Email：239996423@qq.com</span></p>
                </footer>
            </div>

        </section>

        </div>

        <!-- /container -->


        <!-- Bootstrap core JavaScript
      ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="../bootstrap/js/jquery-3.4.1.js"></script>
        <script src="../bootstrap/js/bootstrap.min.js"></script>
</body>

</html>